-# .messages
-#   = render @messages


.main-chat
  .main-chat__header
    -# = render @messages
    .main-chat__header__box
      .main-chat__header__box__left-box
        .main-chat__header__box__left-box__name
          = @group.name
        .main-chat__header__box__left-box__member
          - @group.users .each do |user|
            = user.name
      .main-chat__header__box__right-box
        .main-chat__header__box__right-box__edit-btn
          = link_to "Edit", "/groups/#{@group.id}/edit", method: :get
  .main-chat__contents
    .main-chat__contents__box
      .main-chat__contents__box__left-box
        .main-chat__contents__box__left-box__user-name
          名前
        .main-chat__contents__box__left-box__text
          コメント
      .main-chat__contents__box__right-box
        .main-chat__contents__box__right-box__date
          日時
  .main-chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main-chat__form__message', placeholder: 'type a message'
      .fmain-chat__form__mask
        = f.label :image, class: 'main-chat__form__mask__icon' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :icon, class: 'main-chat__form__mask__hidden'
      = f.submit 'Send', class: 'main-chat__form__submit'
